<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="home" class="icon-header-home" src="assets/homePage/homev2.svg"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" (click)="sair()">
        <ion-icon name="home" class="icon-header-home" src="assets/homePage/perfilv2.svg"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="img-mapa">
      <p-gmap [options]="options"></p-gmap>
    </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <div class="footer-home" style="text-align: center">
        <ion-title>PRO-INFRA</ion-title>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-app>
<!-- [style]="{'width':'500px','height':'1000px'}" -->