<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <div class="fonte-oferta fonte-titulo-oferta-esc">Ofertas Ativas</div>
        <ion-buttons slot="end">
            <ion-icon name="options" class="icon-home-settings" src="assets/homePage/filtro.svg"></ion-icon>
        </ion-buttons>
  </ion-toolbar>

  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
            <ion-card class="card-list-emprestimo">  
                <ion-card-content>
                  <p class="fonte fonte-titulo">Loja de Rações LTDA</p> 
                  <p class="fonte fonte-dinheiro">R$ 15.000</p>
                  <p class="fonte fonte-taxa-juros">2,2%  <span class="fonte fonte-taxa-texto">taxa de juros*</span></p>
                </ion-card-content>
            </ion-card>       
    </ion-slide>
    <ion-slide>
        <ion-card class="card-list-emprestimo">  
            <ion-card-content>
              <p class="fonte fonte-titulo">Loja de Rações LTDA</p> 
              <p class="fonte fonte-dinheiro">R$ 15.000</p>
              <p class="fonte fonte-taxa-juros">2,2%  <span class="fonte fonte-taxa-texto">taxa de juros*</span></p>
            </ion-card-content>
        </ion-card>       
</ion-slide>
<ion-slide>
    <ion-card class="card-list-emprestimo">  
        <ion-card-content>
          <p class="fonte fonte-titulo">Loja de Rações LTDA</p> 
          <p class="fonte fonte-dinheiro">R$ 15.000</p>
          <p class="fonte fonte-taxa-juros">2,2%  <span class="fonte fonte-taxa-texto">taxa de juros*</span></p>
        </ion-card-content>
    </ion-card>       
</ion-slide>
<ion-slide>
    <ion-card class="card-list-emprestimo">  
        <ion-card-content>
          <p class="fonte fonte-titulo">Loja de Rações LTDA</p> 
          <p class="fonte fonte-dinheiro">R$ 15.000</p>
          <p class="fonte fonte-taxa-juros">2,2%  <span class="fonte fonte-taxa-texto">taxa de juros*</span></p>
        </ion-card-content>
    </ion-card>       
</ion-slide>

  </ion-slides>