.logo-row {
  margin-top: 25%;
  margin-bottom: 80px;
}

.cadbutton {
  position: fixed;
  bottom: 3px;
  width: 100%;
  padding-right: 16px;
}

ion-label {
  color: white !important;
}

ion-checkbox {
  --background: #ffffff;
}

.native-input .sc-ion-input-md
{
  color: #ffffff !important;
}
