@font-face{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/Gilroy-Light.otf);
  }
  
  @font-face{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    src: url(assets/fonts/Gilroy-ExtraBold.otf);
  }