<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon name="home" class="icon-header-home" src="assets/homePage/homev2.svg"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-icon name="home" class="icon-header-home" src="assets/homePage/perfilv2.svg"></ion-icon>
      </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content>
    <p>
      Qual é o problema?
    </p>
    <div class="ion-text-center logo">
        <img src="assets/imgs/icon-eletrico.png" width="100px" height="70px" />
      </div>

</ion-content>


