<ion-app>
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon name="home" class="icon-header-home" src="assets/homePage/homev2.svg"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-icon name="home" class="icon-header-home" src="assets/homePage/perfilv2.svg"></ion-icon>
      </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content>
    <p>
      Escolha um desses problemas:
    </p>
        <ion-icon name="home" class="icon-header-home" src="assets/imgs/icon-eletrico.png"></ion-icon>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-home" style="text-align: center">
      <ion-title>PRO-INFRA</ion-title>
    </div>
  </ion-toolbar>
</ion-footer>

</ion-app>